/node_modules
/public/hot
/public/storage
/public/assets/js/app.js
/public/assets/js/front-end.js
/public/assets/js/cms.js
/public/assets/css/app.css
/storage/*.key
/vendor
/.idea
.prettierrc.json
.editorconfig
.eslintrc.json
.phpunit.result.cache
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
